# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ogl_cube

# Eclipse
.project
.cproject
.metadata/

# NetBean
nbproject/

# VS code
.vscode
nbproject/

# VS code
.vscodecode/
